.pool {
    display: inline-block;
    width: 509px;
    min-height: 100px;
    border: 1px solid black;
    margin-right: 10px;
    padding: 10px;
}

.vPools {
    width: 290px;
}

.tPools {
    width: 310px;
}

.header {
    font-size: 17px;
    background: #ececec;
    padding: 4px;
}

.actionsPanel {
    display: inline-block;
    width: 260px;
}

.actionsPanel ul {
    list-style: none;
}

.actionsPanel ul li {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 5px;
    max-width: 130px;
    cursor: pointer;
}

.actionsPanel ul li:hover {
    background-color: #3b8d3e;
}

.pools {
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;
}

.statePanel {
    display: block;
    width: 100%;
    background-color: #ececec;
    color: black;
    padding: 20px;
}

.overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #22222259;
}

.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.05);
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

td {
    /* width: 110px; */
    text-align: center;
}

.contractLogs {
    padding-left: 294px;
    padding-top: 30px;
    width: 900px;
}

.contractLogs textarea {
    width: 900px;
    height: 265px;
    resize: none;
}

thead {
    background: #4caf50;
    color: white;
}

.rpoolToken {
    cursor: pointer;
}

.rpoolToken:hover {
    background-color: antiquewhite;
}

.rpoolToken.selected {
    background-color: antiquewhite;
}

.swapPopup {
    display: none;
    position: fixed;
    z-index: 9;
    width: 260px;
    height: 99px;
    background: #ffffff;
    left: 40%;
    top: 35%;
    padding: 40px;
    border: 7px solid #3d7e40;
}

.swapPopup.show {
    display: block;
}

.swapPopup .currency {
    height: 40px;
}

.swapPopup .currency select {
    padding: 5px;
}

.swapPopup .currency input {
    padding: 5px;
}

.swapPopup button {
    padding: 5px;
}